<activity android:name=".AdminActivity" />
<activity android:name=".AdminDetailActivity" />
<activity android:name=".ReceiveStockActivity" />
<activity android:name=".LoginActivity">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
